<div class="ibox">
    <div class="ibox-title">
        <h5>Administración de Ordenes de compra</h5>
        <div class="ibox-tools">
            <a routerLink="/osce/nuevo" class="btn btn-primary btn-xs" *ngIf="canCreates" ><i class="fa fa-plus-square" aria-hidden="true"></i> Crear Orden</a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead style="text-align: center;">
                  <tr>
                    <th>#</th>
                    <th scope="col">Serie</th>
                    <th scope="col">Cotización </th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Sub Total</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">Status</th>
                    <th colspan="2">Documentos</th>
                    <th colspan="1"></th>
                    <th *ngIf="canCreateBill"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let oc of osces | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                    <td>{{ i+1 }}</td>
                    <td>{{ oc.Serie_Osce }}</td>
                    <td>{{ oc.Quotation_Serie }}</td>
                    <td>{{ oc.Business_Name_Company }}</td>
                    <td>{{ oc.Name_Client }} {{ oc.Lastname_Client }}</td>
                    <td>{{ oc.PSubtotal_Osce  }}</td>
                    <td>{{ oc.Commentary_Osce }}</td>
                    <td>{{ oc.Status_Osce }}</td>
                    <td>
                        <a href="{{ oc.Document_Osce }}" class="btn btn-default" target="_blank" *ngIf="oc.Document_Osce != '' ">
                              &nbsp;<i class="fas fa-file-pdf"></i>
                        </a>
                    </td>
                    <td>
                      <a href="{{ oc.Files_Osce }}" class="btn btn-default" target="_blank" *ngIf="oc.Document_Osce != '' ">
                            &nbsp;<i class="fas fa-file-archive"></i>
                      </a>
                    </td>
                    <td>
                      <a [routerLink]="['/osce',oc.IdMa_Osce]" class="btn btn-info" *ngIf="canEdits" >
                        <i class="fas fa-edit"></i>
                      </a>
                    </td>
                    <td>
                      <button class="btn btn-warning" (click)="createBill(oc)" *ngIf="canCreateBill && oc.SRestante_Osce != 0">
                        <i class="fas fa-file-invoice-dollar"></i>
                      </button>
                    </td>
                    <!--
                    <td>
                      <button class="btn btn-danger" (click)="deleteOrder(oc)" *ngIf="canDelete">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>-->
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div> 
    </div>
</div>